src/main/resources/CDB-Simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://glease.net/chem/simple/DataStructure"
	elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://glease.net/chem/simple/DataStructure" xmlns:Q1="http://glease.net/chem/simple/DataStructure">

	<xsd:complexType name="Substance">
		<xsd:annotation>
			<xsd:documentation>
				Substance is something you know on your textbook,
				like
				you know there is something called Carbon Dioxide.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="atom" type="SubstanceContent"
				minOccurs="1" maxOccurs="unbounded" />
			<xsd:element name="dissolve" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="solvent" type="xsd:IDREF" use="required">
						<xsd:annotation>
							<xsd:documentation>A reagent as solvent.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="s2TFunction" type="Expression"
						use="required" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required" />
		<xsd:attribute name="meltPoint" type="Temperature" />
		<xsd:attribute name="boilPoint" type="Temperature" />
		<xsd:attribute name="id" type="xsd:ID" use="required" />
		<xsd:attribute name="crystal" type="CrystalType"
			default="none">
			<xsd:annotation>
				<xsd:documentation>
					For mixed crystal, use none.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:element name="database" type="ChemDatabase" />

	<xsd:simpleType name="Temperature">
		<xsd:annotation>
			<xsd:documentation>
				Represents a temperature, measured in K, not
				Censils
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PositiveDouble" />
	</xsd:simpleType>

	<xsd:simpleType name="PositiveDouble">
		<xsd:restriction base="JavaDouble">
			<xsd:minExclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="Reagent">
		<xsd:annotation>
			<xsd:documentation>
				Reagent is something you can obtain in the lab, or
				somewhere else in the real world.

				Reagents and substances differ in
				that reagents have
				states like temperature, solvent, state, etc.,
				while
				substance never has such kind of states.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="id" type="xsd:ID" use="required" />
		<xsd:attribute name="name" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>
					Sometimes some certain kind of reagents has
					different names with their corresponding pure
					substance. Fill it
					here. If it don't have, leave it
					empty.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="substance" type="xsd:IDREF" use="required" />
		<xsd:attribute name="solvent" type="xsd:IDREF" />
		<xsd:attribute name="concentration" type="Percentage"
			default="100" />
		<xsd:attribute name="state" type="ReagentState">
			<xsd:annotation>
				<xsd:documentation>
					The melt/boil point defined in the substance tag
					is
					ignored if state is solution, since it may be
					changed.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="color" type="xsd:string" default="white" />
	</xsd:complexType>

	<xsd:simpleType name="ReagentState">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="powder" />
			<xsd:enumeration value="nugget" />
			<xsd:enumeration value="chunk" />
			<xsd:enumeration value="liquid" />
			<xsd:enumeration value="solution" />
			<xsd:enumeration value="gas" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="CrystalType">
		<xsd:annotation>
			<xsd:documentation>
				For mixed crystal, use none.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none" />
			<xsd:enumeration value="metal" />
			<xsd:enumeration value="ion" />
			<xsd:enumeration value="molecule" />
			<xsd:enumeration value="atom" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="Reaction">
		<xsd:sequence maxOccurs="unbounded" minOccurs="1">
			<xsd:element name="condition" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:string" use="required" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="catalyst" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="reagent" type="xsd:IDREF" use="required" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="reactant" type="Reactant" minOccurs="1"
				maxOccurs="unbounded" />
			<xsd:element name="resultant" type="Resultant" minOccurs="1"
				maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="temp" type="Temperature" default="298.15" />
		<xsd:attribute name="pressure" type="PositiveDouble"
			default="1.01e+5" use="optional" />
		<xsd:attribute name="K" type="PositiveDouble" default="INF"
			use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Default to INF which means this reaction is an
					irreversible reaction.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="heat" type="JavaDouble" default="0"
			use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Heat changed. Positive value means the reaction
					is
					exothermic. Default to 0 means the heat change is so
					little that
					could be ignored in production (like the
					heat generated by most
					neutralization reaction).
					Measured in kJ.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="speed" type="PositiveDouble" use="required" />
		<xsd:attribute name="solvent" type="xsd:IDREF" />
		<xsd:attribute name="id" type="xsd:ID" use="required"/>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="ChemDatabase">
		<xsd:all minOccurs="0" maxOccurs="1">
			<xsd:element minOccurs="0" name="substances">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" name="substance"
							type="Substance" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element minOccurs="0" name="reactions">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" name="reaction"
							type="Reaction" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element minOccurs="0" name="atoms">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="atom" type="Atom" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="reagents" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="reagent" type="Reagent" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute use="required" name="uuid" type="UUID" />

		<xsd:attribute name="version" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>
					A version string. Loading databases with same
					UUID
					but different version should result in a crash.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="info" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>
					Some info. Authors, site link, license and other
					metadata about this CDB goes in here, except the
					version.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:simpleType name="UUID">
		<xsd:annotation>
			<xsd:documentation>
				A java.util.UUID compatible serialized form.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern
				value="(\d|[a-fA-F]){8}(-(\d|[a-fA-F]){4}){3}-(\d|[a-fA-F]){12}" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="Atom">
		<xsd:attribute name="localizedName" type="xsd:string" />
		<xsd:attribute name="symbol">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="2" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute use="required" name="molMass" type="JavaFloat" />
		<xsd:attribute use="required" name="index" type="xsd:unsignedByte" />
		<xsd:attribute name="id" use="required">
			<xsd:annotation>
				<xsd:documentation>
					id is not index. id is xml stuff and index is all
					about chemistry.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:ID">
					<xsd:pattern value="atom\d{1,3}-\d{1,3}" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="SubstanceContent">
		<xsd:attribute name="atom" type="xsd:IDREF" use="required" />
		<xsd:attribute name="mol" type="xsd:unsignedShort" use="optional"
			default="1" />
	</xsd:complexType>

	<xsd:simpleType name="Expression">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>

	<xsd:complexType name="ReactionComponent" abstract="true">
		<xsd:attribute name="mol" type="xsd:unsignedShort" use="optional"
			default="1" />
		<xsd:attribute name="substance" type="xsd:IDREF" use="required" />
		<xsd:attribute name="state" type="ReagentState" default="powder" />
	</xsd:complexType>

	<xsd:simpleType name="Percentage">
		<xsd:restriction base="JavaDouble">
			<xsd:minInclusive value="0.0E1" />
			<xsd:maxInclusive value="100" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="Reactant">
		<xsd:complexContent>
			<xsd:extension base="ReactionComponent">
				<xsd:attribute name="purity" type="Percentage"
					default="100" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Resultant">
		<xsd:complexContent>
			<xsd:extension base="ReactionComponent" />
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="JavaInteger">
		<xsd:restriction base="xsd:double">
			<xsd:maxExclusive value="2147483648" />
			<xsd:minInclusive value="-2147483648" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="JavaFloat">
		<xsd:restriction base="xsd:float" />
	</xsd:simpleType>

	<xsd:simpleType name="JavaDouble">
		<xsd:restriction base="xsd:double" />
	</xsd:simpleType>

	<xsd:simpleType name="PositiveInteger">
		<xsd:restriction base="JavaInteger">
			<xsd:minExclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>